@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}

body {
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: "Inter";
}

.h1 {
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}

.p {
    font-size: 12px;
    color: #666666;
}

.p2 {
    font-size: 16px;
    color: #666666;
}

.borderbottom {
    border-bottom: 2px solid #e5e5e5;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 98%;
    gap: 20px;
    font-size: 15px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

a:hover {
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: 1px 1px #f4f4f4;
}

.dropdowncontainer>a {
    padding: 8px;
}

#right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 20px;
}

header>img {
    height: 30px;

}

.text>p {
    margin: 0;
}

/* RIGHT ALIGNED */

#line {
    margin-top: 5px;
    height: 20px;
    border-left: 1px solid #99999993;
}

#getbarky {
    background-color: #050505;
    color: white;
    border-radius: 5px;
}

#getbarky:hover {
    background-color: #353535;
}

/* DROPDOWN */

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid #e5e5e5;
}

.dropdowncontainer:hover .dropdown {
    display: flex;
}

/* PRODUCT */

.alternative {
    display: flex;
    align-items: center;
    width: 270px;
}

.text {
    margin-left: 5px;
}

.alternative>img {
    height: 20px;
    width: 20x;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
}


/* TEAMS & INDIVIDUALS */

.width {
    width: 150px;
}

/* DOWNLOAD */

#download>p {
    margin: 0;
    padding: 5px;
    color: #999999;
    width: 200px;
}

#yourbrowser {
    color: #999999;
    text-decoration: underline;
    background-color: transparent;

}

#yourbrowser:hover {
    color: #087fe7;
    text-decoration-color: #999999;
}

/* END NAV AND HEADER */

/* MAIN */

main {
    margin-top: 20px;
    max-width: 1000px;
    box-sizing: border-box;
}

#first {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;

}

#first>img {
    height: 250px;
    margin-left: 100px;
}

/* COMPANYLOGOS */

#companylogos {
    text-align: center;
    margin-top: 0;
}

#companylogos>img {
    height: 23px;
    padding: 12px;
}

/* PARTS WITH SAME STRUCTURE */

.same-structure>img {
    width: 100%;
    box-shadow: 10px 10px 10px 10px #f4f4f4;
    margin-top: 40px;
}

.heading {
    width: 48%;
    margin-top: 75px;
}

.heading>h1 {
    margin-bottom: 10px;
}

.quote {
    font-size: 37px;
    color: #7f7f7f;
    text-align: center;
    font-weight: 500;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person>img {
    height: 50px;
}

/* PART WITH 'LIST' */

#listcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading2 {
    text-align: center;
    width: 50%;
    padding: 30px;
    margin-bottom: 50px;
}

.list {
    box-sizing: border-box;
    background-color: #f4f4f4;
    width: 70%;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #f4f4f4;
}

.listpoint>img {
    height: 20px;
}

.listpoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER*/

footer {
    max-width: 1200px;
}