@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}

body {
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: "Inter";
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 98%;
    gap: 20px;
    border-bottom: 2px solid #e5e5e5;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

a:hover {
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: 1px 1px #f4f4f4;
}

.dropdowncontainer>a {
    padding: 8px;
}

#right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 20px;
}

header>img {
    height: 30px;

}

/* RIGHT ALIGNED */

#line {
    margin-top: 5px;
    height: 20px;
    border-left: 1px solid #99999993;
}

#getbarky {
    background-color: #050505;
    color: white;
    border-radius: 5px;
}

#getbarky:hover {
    background-color: #353535;
}

/* DROPDOWN */

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid #e5e5e5;
}

.dropdowncontainer:hover .dropdown {
    display: flex;
}

/* PRODUCT */

.alternative {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
}

.text {
    margin-left: 5px;
}

.alternative>img {
    height: 25px;
    width: 25x;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
}

.text>h1 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.text>p {
    margin: 0;
    color: #666666;

}

/* TEAMS & INDIVIDUALS */

.width {
    width: 150px;
}

/* DOWNLOAD */

#download>p {
    margin: 0;
    padding: 5px;
    color: #999999;
    width: 200px;
}

#yourbrowser {
    color: #999999;
    text-decoration: underline;
    background-color: transparent;

}

#yourbrowser:hover {
    color: #087fe7;
    text-decoration-color: #999999;
}



/* END NAV AND HEADER */

/* MAIN */

main {
    max-width: 1000px;
    flex-grow: 2;
}

/* FOOTER*/

footer {
    max-width: 1200px;
}